<script>

	function validate() {
		if (document.getElementById('mappingId').children.length == 0) {
			alert("[LNIO:INFO] - There's no mapping entirely defined in the configuration file. The post function can't be created.");
			return false;
		}
	}
	
	document.forms['jiraform'].onsubmit = validate;
	
</script>

<tr>
	<td class="fieldLabelArea">
       $i18n.getText("chosen.context")&nbsp;:&nbsp;
    </td>
    <td nowrap>
        
        <select name="mappingId" id="mappingId" onchange="retoreFieldValue();">
        #foreach ($mapping in ${entirelyChildDefinedMappings})
            <option value="$mapping.id" >
            	$mapping.id - ${i18n.getText($mapping.label)}
            </option>
        #end
        </select>
    </td>
</tr>

<tr>
	<td class="fieldLabelArea">
		Condition
	</td>
	<td>
    	<input type="checkbox" name="enableVerif" id="enableVerif" />
    	$i18n.getText("condition.label")
    </td>
</tr>
